.header-1{
	font-size: 8rem;
	color: $light-4;
	font-weight: 300;
}
.header-4{
	font-size: 2rem;
}

.header-3{
  font-size: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $dark-10;
  transition: all .5s;
    &:hover{
     transform: skewY(1deg) skewX(20deg) scale(1.2);
     text-shadow: .5rem 1rem 2rem rgba(0, 0, 0, .2);
     color: $primary;
     &::after{
      background: $dark-10;
     }
  }
  &::after{
    content: "";
    height: 1px;
    width: 6rem;
    background: $primary;
  }
  @media only screen and(max-width: 26.1875em){
    font-size: 3rem;
  }
}